.teacherTotalInfo{
    width: 95%;
    height: 850px;
    margin: 20px auto 0;
    border:1px solid #ccc;
    .el-col{
        .myChart{
            width: 90%;
            margin: 30px auto;
            height: 780px;
            // border: 1px solid red;
        }
    }
}