.beATeacher{
    width: 1190px;
    margin: 20px auto;
    border: 1px solid #67c23a;
    .el-form{
        width: 500px;
        margin: 20px auto;
        .el-input{
            width: 400px;
        }
    }
}