.foundTeacher{
    width: 1190px;
    margin: 20px auto;
    border: 1px solid #67c23a;
    overflow: hidden;
    .el-form{
        width: 500px;
        margin: 20px auto;
        .el-input{
            width: 400px;
        }
    }
    .shenhe{
        .errMsg{
            font-size: 24px;
            margin-top: 20px;
        }
        .status,.errInfo{
            font-size: 18px;
            margin-top: 20px;
        }
    }
}