.publish{
    width: 1190px;
    // border: 1px solid #67c23a;
    margin: 20px auto;
    .title{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
    }
    .el-row{
        margin: 20px 0px;
        .title2{
            width: 1170px;
            background-color: #67c23a;
            font-size: 18px;
            padding-left: 20px;
            line-height: 30px;
        }
        .el-pagination{
            text-align: center;
        }
    }
}