.search{
    margin-top: 30px;
    padding-left:100px;
    .input{
        width: 400px;
    }
    .search-btn{
        margin-left: -5px;
    }
    .choose{
        width: 100%;
        overflow: hidden;
        margin-top: 5px;
        // border: 1px solid red;
        div{
            width: 200px;
            float: left;
            text-align: center;
            img{
                width: 70px;
                height: 70px;
            }
            p{
                font-size: 22px;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                    color: #67C23A
                }
            }
        }
    }
}