.pay{
    width: 1190px;
    height: 542px;
    margin: 0 auto;
    text-align: center;
    img{
        width: 300px;
        height: 300px;
        border: 4px solid #ccc;
        padding: 10px;
        &:first-of-type{
            margin-right: 50px;
        }
    }
    .saoma{
        height: 70px;
        width: 220px;
        margin: 20px auto;
        border: 1px solid #ccc;
        border-radius: 20px;
        img{
            border: none;
            width: 50px;
            height: 50px;
            float: left;
        }
        span{
            display: block;
            font-size: 24px;
            margin-top: 20px;
        }
    }
}