.waiting{
    width: 1190px;
    height: 542px;
    margin: 0 auto;
    text-align: center;
    img{
        margin: 100px 0;
        width: 400px;
        height: 400px;
    }
    p{
        font-size: 24px;
    }
}